<a href="https://colab.research.google.com/github/brochowski/ekantorwidget/blob/main/brochowski_excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 79.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
Successfully installed scikit-learn-1.3.0

In [3]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.2.2'

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Bufor/export.csv', sep=';')
dta_cp = df.copy()
dta_cp.columns = dta_cp.iloc[0]
dta_cp = dta_cp.iloc[1:]
dta_cp = dta_cp.iloc[:, 2:]

new_column_names = ['DATE', 'EX_BUYING', 'EX_SELLING', 'SPREAD']
dta_cp.columns = new_column_names

dta_cp['EX_BUYING'] = dta_cp['EX_BUYING'].str.replace(',', '.').astype(float)  # Konwertuj kolumnę EX_BUYING na float
dta_cp['EX_SELLING'] = dta_cp['EX_SELLING'].str.replace(',', '.').astype(float)  # Konwertuj kolumnę EX_SEELING na float
dta_cp['DATE'] = dta_cp['DATE'].apply(lambda x: x.split('.')[0])

dta_cp['SPREAD'] = dta_cp['EX_SELLING'] - dta_cp['EX_BUYING']


from datetime import datetime

def konwertuj_na_date(data_str):
    maska = "%Y-%m-%dT%H:%M:%S"
    data = datetime.strptime(data_str, maska)
    return data


dta_cp['DATE'] = dta_cp['DATE'].apply(konwertuj_na_date)

dta_cp['DAY_OF_WEEK'] = dta_cp['DATE'].apply(lambda x: x.weekday())
dta_cp['HOUR_NO'] = dta_cp['DATE'].apply(lambda x: int(x.strftime('%H')))


##print(dta_cp.columns)

print(dta_cp.head())
dta_cp.info()

                 DATE  EX_BUYING  EX_SELLING  SPREAD  DAY_OF_WEEK  HOUR_NO
2 2023-06-15 23:13:05     4.0380      4.1036  0.0656            3       23
3 2023-06-15 23:14:24     4.0375      4.1046  0.0671            3       23
4 2023-06-15 23:16:48     4.0382      4.1009  0.0627            3       23
5 2023-06-15 23:16:55     4.0383      4.1020  0.0637            3       23
6 2023-06-15 23:26:48     4.0385      4.1008  0.0623            3       23
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140 entries, 2 to 2141
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         2140 non-null   datetime64[ns]
 1   EX_BUYING    2140 non-null   float64
 2   EX_SELLING   2140 non-null   float64
 3   SPREAD       2140 non-null   float64
 4   DAY_OF_WEEK  2140 non-null   int64
 5   HOUR_NO      2140 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2)
memory usage: 117.0 KB

In [32]:
dta_cp.describe()

         EX_BUYING   EX_SELLING       SPREAD  DAY_OF_WEEK      HOUR_NO
count  2140.000000  2140.000000  2140.000000  2140.000000  2140.000000
mean      4.043900     4.102265     0.058365     2.981776    11.735981
std       0.018763     0.023428     0.016271     2.076414     6.828488
min       4.003000     4.042500     0.037100     0.000000     0.000000
25%       4.034500     4.089500     0.054300     1.000000     6.000000
50%       4.039800     4.096300     0.056400     3.000000    12.000000
75%       4.050050     4.111425     0.058300     5.000000    18.000000
max       4.112700     4.194300     0.123200     6.000000    23.000000

In [33]:
dta_cp.describe().T

,count,mean,std,min,25%,50%,75%,max
EX_BUYING,2140.0,4.043900,0.018763,4.0030,4.0345,4.0398,4.050050,4.1127
EX_SELLING,2140.0,4.102265,0.023428,4.0425,4.0895,4.0963,4.111425,4.1943
SPREAD,2140.0,0.058365,0.016271,0.0371,0.0543,0.0564,0.058300,0.1232
DAY_OF_WEEK,2140.0,2.981776,2.076414,0.0000,1.0000,3.0000,5.000000,6.0000
HOUR_NO,2140.0,11.735981,6.828488,0.0000,6.0000,12.0000,18.000000,23.0000

In [35]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dta_cp[['EX_BUYING', 'EX_SELLING', 'SPREAD']] = scaler.fit_transform(dta_cp[['EX_BUYING', 'EX_SELLING', 'SPREAD']])
dta_cp

,DATE,EX_BUYING,EX_SELLING,SPREAD,DAY_OF_WEEK,HOUR_NO
2,2023-06-15 23:13:05,-0.314517,0.057014,0.444796,3,23
3,2023-06-15 23:14:24,-0.341171,0.099708,0.537008,3,23
4,2023-06-15 23:16:48,-0.303855,-0.058259,0.266519,3,23
5,2023-06-15 23:16:55,-0.298525,-0.011296,0.327994,3,23
6,2023-06-15 23:26:48,-0.287863,-0.062528,0.241929,3,23
...,...,...,...,...,...,...
2137,2023-07-11 05:49:35,-2.095003,-1.766012,-0.126920,1,5
2138,2023-07-11 06:05:04,-2.126988,-1.787358,-0.120772,1,6
2139,2023-07-11 06:20:09,-2.110996,-1.774550,-0.120772,1,6
2140,2023-07-11 06:35:13,-2.158973,-1.808705,-0.114625,1,6
2141,2023-07-11 06:36:53,-2.180296,-1.830052,-0.120772,1,6